@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

html.scroll_hidden{overflow-y: hidden;}
html.scroll_hidden body{overflow-y: hidden;}


label , .label{display: inline-block;color: #6C747B;font-size: 12px;}
input, select, textarea , button{color: #212529;font-size: 13px;line-height: 19px;outline: none;}
::placeholder{color: #868e96;font-weight: 400;}
a {outline: none;}
input:disabled,input:read-only,textarea:disabled,textarea:read-only{color: #868e96;font-weight: 400;}
input,textarea{padding: 14px 15px 15px;font-weight: 500;}

.clearfix:after{content: " "; display: table; clear: both;}
.blind {position: absolute; left: -9999px; top: 0; height: 0; font-size: 1px; line-height: 0; text-indent: -9999em; overflow: hidden;}
/***** e : common *****/

/* btn_group */
.btn_group {width:100%;}
.btn_group .btn, .form_row.in_btn .btn {box-sizing:border-box;width:100%; padding:0 20px; font-size:16px;color:#212529; text-align: center;line-height: 40px;background:#fff; vertical-align: middle; font-weight: 500;  border:1px solid #777;}
.btn_group .btn.type02{color:#fff;background:#2cb0d1; border:1px solid #2cb0d1;}
.btn_group .btn.type03{color:#212529;background:#e9ecef; border:1px solid #E9ECEF;}
.btn_group .btn.type04{color:#212529;background:#e9ecef; font-size:13px; border:1px solid #E9ECEF;}
.btn_group .btn.noraund{border-radius: unset;}
.btn_group .btn.small{padding:3px 6px 3px; font-size: 11px; font-weight: 400; border:1px solid #CED4DA; border-radius:4px; }
.btn_group .btn small.type02 { border:1px solid #212529;}
.btn_group .btn small.type03 { border:1px solid #E9ECEF;}
.btn_group .btn.medium{padding:0 10p;font-size: 13px; color:#6C747B; border:1px solid #CED4DA;}
.btn_group .btn.medium.type02 { color:#fff;}
.btn_group .btn.medium.type03 { border:1px solid #e9ecef; color:#212529;}
.btn_group .btn:disabled,.btn_group .btn.disabled {color: #868E96; cursor:default;background-color: #e9ecef; border:1px solid #E9ECEF;}
.btn_group.btn_line{display: flex;}
.btn_group.btn_line .btn{width: auto;}
.btn_group.btn_line .btn:not(:first-child){margin-left: 10px;}
.btn_group.multy{display: flex; box-sizing: border-box;}
.btn_group.multy .btn:first-child{margin-right: 10px;}
.btn_group.multy_list{display: flex;flex-flow: wrap;}
.btn_group.multy_list li{width: 50%;box-sizing: border-box;}
.btn_group.multy_list li:nth-child(odd){padding-right: 5px;}
.btn_group.multy_list li:nth-child(even){padding-left: 5px;}
.btn_group.multy_list li:nth-child(n+3){margin-top: 10px;}

/* chk_box */
.chk_box {position: relative;display: inline-block;vertical-align: top;}
.chk_box label {display: block;padding: 1px 0 2px 22px;line-height: 18px;font-size: 1.8rem;color: #212529;}
.chk_box input[type="radio"], .chk_box input[type="checkbox"] {border: none; border-radius: 50%;}
.chk_box input[type="radio"]:disabled + label { color:#212529;}
.chk_box input[type="checkbox"]:disabled + label { color:#212529;}
.chk_box label:before {content: "";position: absolute;left: 0;top: 3px;width: 16px;height: 16px;z-index: 2;border-radius: 11px;background: #e9ecef;}
.chk_box input {-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance: none;position: absolute;left: 0;top: 0;border: none;width: 22px;height: 22px;padding:0; border: none;}
.chk_box input:checked + label::before,.chk_box input:checked ~ label::before {height: 16px;}
.chk_box input:disabled + label:before { border-color: #ced4da; background: #E9ECEF url(../images/common/check_arr_disabled.png) no-repeat center;background-size: 12px 12px;}

.chk_box input[type="radio"]:checked + label::before,.chk_box input[type="radio"]:checked ~ label::before,.chk_box input[type="radio"]:disabled + label:before{width: 16px;height: 16px;background: #009CC3;}
.chk_box input[type="radio"]:checked + label::after,.chk_box input[type="radio"]:checked ~ label::after{content:"";width: 6px;height: 6px;display: block;position: absolute;top: 8px;left: 5px;background: #fff;background-size: 8px 8px;border-radius: 50%;z-index: 10;}
.chk_box.small label{font-size: 12px;}
.chk_box input[type="radio"]:disabled + label:before { background: #e9ecef;}
.chk_box input[type="radio"]:disabled + label:after{content:"";width: 8px;height:8px;display: block;position: absolute;top:7px;left: 4px;background: #ced4da;background-size: 8px 8px;border-radius: 50%;z-index: 10;}

.chk_box.type_btn{width: 100%; display: block; position: relative;}
.chk_box.type_btn input{display: none;}
.chk_box.type_btn label{width: 100%; padding: 14px 20px 15px; font-size: 13px; color: #868e96; text-align: center; line-height: 19px; background: #f8f9fa; vertical-align: middle; font-weight: 400; box-sizing: border-box; border: 1px solid #f8f9fa; border-radius: 8px;}
.chk_box.type_btn input:checked + label, .chk_box.type_btn input:checked ~ label{background: #fff; color: #212529; border: 1px solid #212529;}
.chk_box.type_btn label::before{content:none;}

/* radio_group */
.radio_group { width:100%; display:flex;flex-wrap: wrap;}
.radio_group > .chk_box {margin-right: 25px;box-sizing:border-box;}
.radio_group > .chk_box:last-child {margin-left:0;}
.radio_group > .chk_box > input[type="radio"] {width:22px; height:22px; border-radius: 50%; }

/*button type radio group*/
.radio_btn_group{display:flex;flex-flow:wrap;width:100%;}
.radio_btn_group .radio_btn{position:relative;width:50%;box-sizing:border-box;}
.radio_btn_group .radio_btn:nth-child(odd){padding-right:5px;}
.radio_btn_group .radio_btn:nth-child(n+3){margin-top:10px;}
.radio_btn_group .radio_btn input{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance: none;}
.radio_btn_group .radio_btn label{display:block;position:relative;z-index:2;;box-sizing:border-box;width:100%;padding:12px 20px 14px;background-color:#e9ecef;border:1px solid #e9ecef;text-align:center;border-radius:8px;line-height:22px;font-size:13px;color:#212529;font-weight:500;}
.radio_btn_group .radio_btn input:checked + label{border:1px solid #212529;background-color:#fff;}

/* check_group */
.check_group { width:100%;}
.check_group > .chk_box { margin-left:19px; box-sizing:border-box;}
.check_group > .chk_box:first-child {margin-left:0;}
.check_group > .chk_box > input[type="checkbox"] {width:22px; height:22px; border-radius: 50%;}
.check_group.block_item + .check_group.block_item{margin-top: 10px;}

/* .login_input_area .chk_group_box {margin-top: 15px;} */
.radio_box {display: inline-block;vertical-align: top;font-size: 0;position: relative;/*height: 60px;*/}
.radio_box input {display: none;}
.radio_box label {width: 100%; padding: 14px 20px 15px; font-size: 13px; color: #868e96; text-align: center; line-height: 19px;  vertical-align: middle; font-weight: 300; box-sizing: border-box; border-radius: 8px; border: 1px solid #f8f9fa; background: #f8f9fa;}
.radio_box input:checked + label,.radio_box input:checked ~ label {background: #fff;color: #212529;border: 1px solid #212529;}
.radio_group_box {/*font-size: 0;*/ display: flex; flex-wrap: wrap; justify-content: space-between; box-sizing:border-box;}
.radio_group_box .radio_box {width: calc(50% - 5px);}
.radio_group_box .radio_box:first-of-type {margin-right: 10px;}
.radio_group_box + .form_row{margin-top: 15px;}
.form_title{width: 100%; display: block; margin-bottom: 6px; font-size: 12px; line-height: 18px; color: #6c747b;}
.form_title.type02{font-size: 12px; line-height: 18px; color: #212529; margin-bottom: 15px;}


/* 첨부파일 */
.add_file_Wrap{padding:20px; background:#E4E8E9; margin-bottom:15px}
.add_file_Wrap h4{font-size: 13px; line-height: 19px; color: #343A40;}
.add_file_Wrap .file_list{ display: flex;}
.add_file_Wrap .file_list li{margin-right: 5px;  box-sizing: border-box;  overflow: hidden; background:#848788}
.add_file_Wrap .file_list li .add_file{width: 85px; height: 85px; position: relative; background:url('../images/common/ico_add.png') center no-repeat;  }
.add_file_Wrap .file_list li .add_file label{width: 100%; height: 100%; display: block; position: relative;}
.add_file_Wrap .file_list li .add_file label + input{position: absolute; top: 0; left: 0; right:0; bottom:0; display: none;}
.add_file_Wrap .file_list li .preview_file{width: 85px; height: 85px; position: relative;}
.add_file_Wrap .file_list li .preview_file img{position:absolute; top:50%; transform: translateY(-50%); width: 100%}
.add_file_Wrap .file_list li .preview_file .del_file{width: 20px; height: 20px; display: block; position: absolute; top: 0; right: 0; background: rgba(0,0,0, 0.5) url("../images/common/ico_del_file.png") no-repeat 50% 50%; background-size: 20px 20px;}

